@font-face {
  font-family:"BigNoodleTitling Oblique";
  src:url("fonts/big_noodle_titling_oblique.woff2") format("woff2"),
  url("fonts/big_noodle_titling_oblique.woff") format("woff");
  font-style:normal;font-weight:400;
}

body {
  font-family: 'Segoe UI', 'Helvetica Neue', -apple-system, BlinkMacSystemFont, Arial, sans-serif;
}

.ow-logo {
  max-width: 60px;
  margin-bottom: 2em;
}

.title, .subtitle {
  font-family: 'BigNoodleTitling Oblique', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
}

.is-massive {
  font-size: 6rem; 
}
a {
  color: #fa9c1e;
}
.hero-foot {
  margin-bottom: 1rem;
}
@media screen and (min-width: 769px) {
.level-item {
  max-width: 33%;
}
}
@media screen and (max-width: 500px) {
  .hero-body {padding: 0.5rem;}
  .is-massive {
    font-size: 4rem;
    
  } 
  .level {
    margin-bottom: 2rem;
  }
}