@font-face {
  font-family:"BigNoodleTitling Oblique";
  src:url("fonts/big_noodle_titling_oblique.woff2") format("woff2"),
  url("fonts/big_noodle_titling_oblique.woff") format("woff"),
  url("fonts/big_noodle_titling_oblique.otf") format("opentype");
  font-style:normal;font-weight:400;
}

body {
  font-family: 'Open Sans', 'Segoe UI', 'Helvetica Neue', -apple-system, BlinkMacSystemFont, sans-serif;
}

.title, .subtitle {
  font-family: 'BigNoodleTitling Oblique', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
}

.is-massive {
  font-size: 6rem;
}